@charset "UTF-8";
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/login-img.jpg');
    background-size: cover;
}

.mainsentence {
    font-size: 30px;
    color: red;
    background-color: #98FB98;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 15px; /* Reduced padding */
    margin-top: 25%;
    margin-left: 0px; /* Adjusted left margin */
    position: relative;
    border-radius: 30px;
    width: auto; /* Let the width fit the content */
    display: inline-block; /* Keeps the width only around the text */
}


.innerbox-css {
    background: #98FB98;
    height: 300px;
    width: 280px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 10px;
}

.logindata-css {
    padding: 50px;
    font-size: 20px;
}

.emailid-css, .password-css {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.loginbox-css {
    padding: 7px;
    font-size: 15px;
    background-color: green;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.loginbox-css:hover {
    opacity: 0.8;
}

.loginbox-css:active {
    opacity: 0.5;
}

.forgotpassword-css a {
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
}
