.logo-container{
	display: flex;
	align-items: center;
	height: 50px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.logo-img{
	height: 120px;
	width: 140px;
}
.logoname{
	position: absolute;
	color: black;
	font-size: 20px;
	margin-top: 1px;
	margin-right: 20px;
	text-decoration: none;
	margin-left: 25px;
}
.logoname:hover {
	text-decoration: underline;
}
.plant-container a {
	margin-bottom: 20px;
	color: black;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Outfit', sans-serif;
	
}
.plant-container a:hover {
	text-decoration: underline;
}

.plant{
	margin-left: 600px;
}
.pot{
	margin-left:50px;
}
.offer{
	margin-left:50px;
}
.customersupport{
	margin-left:50px;
}
.consultent{
	margin-left:50px;
}

.container{
	display: flex;
	align-items: center;
}

.search{
	margin-right: 0px;
	width: 500px;
	height: 30px;
	margin-left: 500px;
	font-size: 15px;
	
}
.button{
	margin-right: 5px;
	width:50px;
	height: 35px;
	background-color: green;
	color: white;
	border: none;
	cursor: pointer; 
}
.button:hover {
	opacity: 0.8;
}
.button:active{
	opacity: 0.5;
}
form{
	display: flex;
}

.picture img{
	margin-left: 150px;
	max-width: 100%;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.picture-text{
	position: absolute;
       top: 450px;
       margin-left: 250px;
       font-size: 40px;
       color: green;
       font-family: roboto;
}
.bottom-hr{
	margin-bottom: 10px;
	height: 2px;
}
.sentence {
	margin-left: 30px;
    font-size: 20px;
    font-weight: 20px;
}
.login-css{
	color: white;
	width: 60px;
	height: 35px;
	background-color: green;
	border: none;
	margin-left: 200px;
	border-radius: 5px;
}
.login-css:hover{
	opacity: 0.8;
}
.login-css:active{
	opacity: 0.5;
}
.signup-css{
	color: black;
	width: 60px;
	height: 35px;
	background-color: lightgreen;
	border: none;
	border-radius: 5px;
}
.signup-css:hover{
	opacity: 0.8;
}
.signup-css:active{
	opacity: 0.5;
}

.logo-profile{
	margin-left: 1080px;
	font-size: 25px;
	color: green;	
}
.logo-profile:hover{
	opacity:0.8;
}
logo-profile:active{
	opacity:0.5;
}
.cart-css{
	margin-left: 40px;
	font-size: 25px;
	color: green;
}
.cart-css:hover{
  opacity:0.8;
}
.cart-css:active{
	opacity:0.5;
}



