@charset "UTF-8";
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/signup-img1.jpg');
     position: absolute;
}

.signup-main{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-left: 450px;
	margin-top: 150px;
	font-size: 20px;
}
.signup-box{
	background-color: #fff;
	width: 280px;
	height: 300px;
	margin-left: 600px;
	margin-top: 100px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.signup-data{
	font-size: 20px;
	padding: 50px;
}
.namebox-css{
	padding: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	
}
.emailbox-css{
	padding: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.passwordbox-css{
	padding: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.signupbutton-css{
	border: none;
	padding: 8px;
	background-color: darkgreen;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.signupbutton-css:hover {
	opacity: 0.8;
}
.signupbutton-css:active{
	opacity: 0.5;
}
